table{
    width: 96%;
    border-collapse: collapse;
    margin: 20px;
}
td,th{
    border: 5px  solid silver;
    padding: 15px;
}
th{
    /*font-family: "DejaVu Sans";*/
    color: rebeccapurple;
    font-size: 25px;
}
h2{
    color: darksalmon;
    font-size: 55px;
    text-align: center;
font-weight: bolder;
}
tr:nth-child(even){
    background-color: darksalmon;
}
/*body{*/
/*    background-image: url("asets/Images/kemi.jpeg");*/
/*    background-size: cover;}*/
/*bt{*/
/*    background-image: url("asets/Images/kemi.jpeg");*/
/*}*/
/*body{*/
/*    background-image: url("kemis.jpeg");*/
/*}*/